@media screen and (max-width: 768px) {
    .CustomerReview
    {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 29px;
    width: 316px;
    margin-bottom: 20px;
    }

    .Chart{
        margin-top: 10px;
    }

    
}