.initial-avatar {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Colors */
    background-color: #d1d5db;
    color: #fff;

    /* Rounded border */
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.user-table {
    max-width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}

.iconSuccess{
    color: #000000;
    
}

.bi-check-circle{
    color: #000000;
    font-size: 60px;
    box-shadow: 3px ;
}