.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* color change of modal header */
.head {
  background-color: #281454; /* Replace with your desired background color */
}

/* color change of modal title */
.title {
  color: white;
}

/* for modal body */
.mbody {
  max-height: 550px;
  overflow-y: scroll;
}

/* for modal width */
.mdw {
  max-width: 600px;
}

.form-group {
  margin-bottom: 1.5rem;
}

/* for form labels */
.flb {
  font-weight: bold;
}

/* for select lists */
.sitm {
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* for control lists */
.citm {
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.cm {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* control lists focusing */
.citm:focus {
  color: #495057;
  background-color: #fff;
  border-color: #281454;
  outline: 5;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.cm:focus {
  color: #495057;
  background-color: #fff;
  border-color: #281454;
  outline: 5;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* selection lists focusing */
.sitm:focus {
  color: #495057;
  background-color: #fff;
  border-color: #281454;
  outline: 5;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* for error messages */
.infeedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #dc3545;
}

textarea.citm {
  height: auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 2px solid #e9ecef;
}

.modal-footer .btn {
  margin-left: 0.5rem;
}
