.mainReport {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins';
}

.frmReportGen {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    column-gap: 20px;
    margin-top: 20px;
}

.subTopicArea {
    background-color: #E6E4E4;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 45px auto auto;
    align-items: center;
    border-radius: 16px;
}

.boxIcon {
    font-size: 2em;
}

.projectName {
    margin-bottom: 0;
}

.selectBoxes {
    justify-self: end;
}

.selectBoxes select {
    margin-left: 10px;
}

.btnGenerate {
    padding: 4px;
    background: #BD3A51;
    border-radius: 4px;
    display: inline-block;
}

.path{
    font-weight: 600;
    font-size: 30px;
    color: #595959;
}

.Chart {
    font-family: sans-serif;
    text-align: center;
}

