.activeSprint{
    display: flex;
    padding: 30px 20px;
    font-family: 'Poppins';
    
}

.activeSprint > h2{
    font-weight: 600;
    font-size: 30px;
    color: #595959;
}

.dropDowns{
    line-height: 37px;
}

.dropDowns > select{
    margin-left: 20px;
    background: #F3EFEF;
    border: 1px solid #656262;
    border-radius: 8px 8px 8px 8px;
    transition-delay: 1s;
}

* {
    box-sizing: border-box;
}

.Appp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    padding: 5px;
    padding-right: 10px;
}

.Appp .column {
    padding: 5px;
}

.droppable-col {
    width: 100%;
    background-color: #F3EFEF;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 77vh;
}

/* .item {
    margin-bottom: 10px;
    background-color:white;
    color:black;
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
} */
