.activeSprint{
    display: flex;
    padding: 30px 20px;
    font-family: 'Poppins';
    
}

.activeSprint > h2{
    font-weight: 600;
    font-size: 30px;
    color: #595959;
}

.dropDowns{
    line-height: 37px;
}

.dropDowns > select{
    margin-left: 20px;
    background: #F3EFEF;
    border: 1px solid #656262;
    border-radius: 8px 8px 8px 8px;
    transition-delay: 1s;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    place-items: center;
    padding: 10px;
}

.columnTopic{
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;
    padding: auto;
    flex-direction: column;
    background-color: #F3EFEF;
    width: 220px;
    height: 550px;
}

.star:after{
  content: "*";
  color: red;
}

@media screen and (max-width: 1200px) {
    .table{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
    
  }
  
  @media screen and (max-width: 768px) {
    .table{
      grid-template-columns: 1fr;
    } 
  }
