/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background: color #f5f5f5;
    color: #111;
  
  }
  .container{
    max-width: 1300px;
    width: 100%;
    margin-top: auto;
    margin: auto;
    padding: 0px 20px;
  
  }
  
  section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1{
    font-size: 30px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 80px;
  }
  
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  
  .card{
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px) ;
  width: 100%;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s;
  border: 2px solid transparent;
  
  }
  
  .card:hover{
    border-color: #1d39c4;
  
  }
  
  
  .btn{
    border: none;
    outline: none;
    background: #1d39c4;
    color: #fff;
    border-radius: 10px;
    max-width: 110px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #1d39c4;
  }
  
  
  .btn:hover{
    background: transparent;
    color: #1d39c4;
  
  }
  
  @media(max-width:969px){
    section{
      padding: 20px 0px;
    }
    h2{
      font: size 20px;
      line-height: 40px;
      text-align: left;
  
    }
    .card{
    flex:  0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    
  }
  }
  
  @media(max-width:600px){
   
    .card{
    flex:  0 0 100%;
    max-width: 100%;
    
  }
  } */