
  @media screen and (max-width: 1920px) {
*{
    margin: 0;
    padding: 0;
  
  }


  ul{
    padding: 0;
    margin: 0;
  }
  
  li{
    list-style: none;
  }
  body{
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
  }
  
  .side-menu{
    position: fixed;
    background: #231651;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 10px;
    transition: width .3s ease-in;
    
  }
  .side-menu .main-menu .menu-item.active{
    background: #2a1280;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
  
  .side-menu.inactive{
    width: 60px;
  }

  .side-menu .top-section .logo{
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
  
  }
  .side-menu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;
  
  }
  
  .side-menu .top-section .toggle-menu-btn{
    color: rgb(194, 194, 194);
    font-size: 20px;
    position: absolute;
    top: 50px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .side-menu.inactive .top-section .toggle-menu-btn{
    right: -25px;
    
  }
  
  .side-menu .search-controller{
    color: white;
    position: relative;
  
  }
  
  
  .side-menu .search-controller input[type=text]{
    border:0;
    outline: none;
    background: rgb(194, 194, 194);
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
    height: 35px;
    box-sizing: border-box;
    padding-left: 40px;
    color: rgb(46, 46, 46);
  
  }
  
  .side-menu .search-controller .search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    color: #666;
    font-size: 20px;
    margin-top: 20px;
    line-height: 40px;
  }
  
  .side-menu .main-menu{
    margin: 5px 0;
  }

  .side-menu .main-menu .menu-item{
    color: rgb(194, 194, 194);
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
   
  }

  .side-menu .main-menu .menu-item:hover{
    color: rgb(255, 255, 255);
    background: #2a1280;
    border-radius: 5px;
    transform: scale(1.5) ease-in-out;
  }
  
  
  .side-menu .main-menu .menu-icon{
   display: inline-block;
   width: 40px;
   height: 40px;
   font-size: 20px;
   line-height: 40px;
   text-align: center;
  }
  
  .side-menu .main-menu .menu-item span{
    position: absolute;
    margin-left: 10px;
    display: inline-block;
    font-weight: 100;
    line-height: 40px;
    opacity: 1;
    transition: opacity .3s ease-in;
  }
  
  .side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    overflow: hidden;
  
  }
  
  
  .side-menu-footer{
    width: 100%;
    height: 80px;
    background: rgb(194, 194, 194);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 10px;
    box-sizing: border-box;

  
  }
  .side-menu-footer .avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
  }
  
  .side-menu-footer .avatar img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .side-menu-footer .user-info{
    display: inline-block;
    
    color: #666;

    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
  
  }
  .side-menu.inactive .side-menu-footer .user-info{
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  
  }
  
  .side-menu-footer .user-info h5{
    font-size: 15px;

  }
  
  .side-menu-footer .user-info h6{
    font-size: 14px;
  
  }
  
  .divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: rgb(194, 194, 194);
    margin: 10px 0;
  }
  
/* width
::-webkit-scrollbar {
    width: 3px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
    display: none;
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  } */

  .container{
   position: fixed;
    margin-left: 250px;
    font-size: 20px ; 
    text-shadow: #666 2px ;
    transition: margin-left .3s ease-in;
    padding: 40px;
  }
  
  .container.inactive{
    position: static;
    width: 80%;
    margin-left: 60px;
  }
  

  .side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}


  .side-menu .main-menu .sub-menu a.active{
    /* change in background, not recorded in video */
    background: #222;
    display: block;
    
    border-radius: 5px;
    color: #fff;

}

}

@media screen and (max-width: 600px) {
  .side-menu{
    width: 60px;
  } 

  .side-menu .top-section .toggle-menu-btn{
    right: -25px;
  }

  .side-menu .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    overflow: hidden;
  
  }

  .side-menu .side-menu-footer .user-info{
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }



.container{
  margin-left: 60px;
}

.side-menu .main-menu .menu-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
 }
  
}