h1 {
  margin: 0;
  padding: 0;
  font-family: calibri;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

body,
Table {
  margin: 0;
  padding: 0;
  font-family: calibri;
  font-size: 12px;
}

Table {
  max-width: 100%;
  padding-left: 15%;
  border: 3px dashed;
  border-color: black;
  margin-top: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.backlogButton {
  font-size: 14px;
}

:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  background: var(--glass);
  gap: 16px;
  grid-template-columns: 18rem auto;
  overflow: scroll;
}

.AppGlass ::-webkit-scrollbar {
  width: 3px;
}

.BacklogMain {
  margin-left: 10px;
  overflow: scroll;
}
.BacklogMain::-webkit-scrollbar {
  width: 3px;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}
