/* .BacklogMain {
  padding: 20px;
  background-color: #f5f4f7;
}

.container {
  padding: 10px;
  margin-bottom: 0px;
}

.inactive {
  opacity: 1;
}

.backlog-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
} */

/* Move badge container to the right */
/* .badge-container {
  display: flex;
  align-items: center;
  margin-left: auto; 
} */

/* Add margin between badges */
/* .badge-container MDBBadge {
  margin-right: 10px; 
}

.sprint-creation-section {
  margin-left: auto;
}

.sprint-creation-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sprint-backlog-sections {
  margin-top: 30px;
}

.bck {
  font-size: 20px;
}

.defBack{
  background-color: #e3e5e3;
  border-radius: 4px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

hr {
  height: 3px;
  background-color: #ffffff;
  border: none;
} */