.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* color change of modal header */
.hd {
  background-color: #281454; /* Replace with your desired background color */
}

/* color change of modal title */
.mt {
  color: white;
}

/* for modal body */
.modalb {
  max-height: 500px;
  overflow-y: scroll;
}

/* for modal width */
.mdl {
  max-width: 850px;
}

.form-group {
  margin-bottom: 1.5rem;
}

/* for form labels */
.flabel {
  font-weight: bold;
}

/* for select lists */
.sitem {
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* for control lists */
.citem {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* for number inputs */
.cnm {
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* control lists focusing */
.citem:focus {
  color: #495057;
  background-color: #fff;
  border-color: #281454;
  outline: 5;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* for number inputs focusing */
.cnm:focus {
  color: #495057;
  background-color: #fff;
  border-color: #281454;
  outline: 5;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* selection lists focusing */
.sitem:focus {
  color: #495057;
  background-color: #fff;
  border-color: #281454;
  outline: 5;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* for error messages */
.infeedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 100%;
  color: #dc3545;
}

textarea.citem {
  height: auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 2px solid #e9ecef;
}

.modal-footer .btn {
  margin-left: 0.5rem;
}

.btn-add-issue-container {
  padding-top: 0;
}

.btn-add-issue {
  margin-top: 0;
}
