/* .issue-list-container {
  overflow-x: auto;
} */
/* 
.issue-table {
  width: 100%; */
  /* border-collapse: separate; */
  /* border-spacing: 0;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 0;
} */

/* .issue-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.issue-table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.issue-table tbody tr:hover {
  background-color: #f9f9f9;
}

.issue-summary {
  font-weight: bold;
}

.issue-status {
  text-transform: uppercase;
}

.issue-actions {
  display: flex;
  align-items: center;
}

.issue-actions button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.issue-actions button:hover {
  background-color: #0056b3;
} */

